/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #0169b2;
    color: #fff;
}
img {
    max-width: 100%;
}
a {
    color: #f9a228;
}
a:hover {
    color: #C48327;
}
.hero-unit {
    background-color: #00518A;
    border: 1px solid #00406E;
}
#askUserChoiceLabel {
    color:#464633;
}
#showResult {
    color:#464633;
}